.article-container {
    padding: 30px;
}

.article-content {
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.articletitle {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #373025;
    margin-bottom: 25px;
    opacity: 0;
    animation: fadeIn 1s forwards 0.3s;
}

.minuteread {
    text-align: center !important;
    font-size: 14px;
    color: #777;
    margin-bottom: 5px;
    opacity: 0;
    animation: fadeIn 1s forwards 0.6s;
}

.overview {
    text-align: justify;
    font-size: 18px;
    color: #444;
    line-height: 1.6;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 1s forwards 0.9s;
}

.author {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 1000px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: -25px;
    opacity: 0;
    animation: fadeIn 1s forwards 1.2s;
}

.authorpic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.author-name {
    font-weight: 600;
}

.authorinfo p {
    text-align: left;
    font-size: 14px;
    color: #373025;
    margin: 0;
}

.article-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    margin: 20px 0;
    opacity: 0;
    animation: fadeIn 1s forwards 1.5s;
    transition: transform 0.3s ease;
}

.article-content img:hover {
    transform: scale(1.05);
}

.articlesubtitles {
    font-size: 22px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #222;
    opacity: 0;
    animation: fadeIn 1s forwards 1.8s;
}

.article-content p {
    font-size: 16px;
    line-height: 1.8;
    color: #444;
    text-align: justify;
    margin-bottom: 15px;
    opacity: 0;
    animation: fadeIn 1s forwards 2.1s;
}

.article2column {
    display: flex;
    gap: 50px;
    align-items: flex-start; 
    margin: 30px 0;
    opacity: 0;
    animation: fadeIn 1s forwards 2.4s;
}

.article2column p {
    flex: 1;
}

.article-column-image {
    width: 45%;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease;
    filter: grayscale(100%);
}

.article-column-image1 {
    width: 45%;
    height: 480px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease;
    filter: grayscale(100%);
}

.article-column-image:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .article2column {
        flex-direction: column;
        align-items: flex-start;
    }

    .article2column img {
        width: 100%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
