.navbar {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    margin: 30px;
}

.navbar-logo img {
    width: 270px;
}

/* Keep links and buttons aligned */
.navbar-right {
    display: flex;
    align-items: center;
    gap: 30px; /* Adjust spacing */
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar-links li a {
    color: #373025;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar-links li a:hover {
    color: #D3AB3F;
}

.navbar-auth {
    display: flex;
    gap: 15px;
    align-items: center;
}

.auth-button, .login-submit {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.login, .login-submit {
    background-color: transparent;
    color: #373025;
    border: 1px solid #373025;
}

.login:hover, .login-submit:hover {
    background-color: #D3AB3F;
    border: 1px solid #D3AB3F;
    color: white;
}

.signup {
    background-color: #373025;
    color: white;
    border: 1px solid #373025;
}

.signup:hover {
    background-color: #D3AB3F;
    border: 1px solid #D3AB3F;
    color: white;
}

.navbar-menu {
    display: none;
}

@media (max-width: 768px) {
    .navbar-right {
        display: none;
    }

    .navbar-menu {
        display: block;
        cursor: pointer;
    }
}
